nav{
    width: 100%;
    background-color: gray;
    color: #fff;
    /* padding: 14px 0; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 10; */
}
.logo{
    width: 180px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

  .btn1{
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 10px;
  }
  .nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4b1b78;
    color: white;
    font-weight: bold;
  }